.layout {
	min-height: calc(100vh - 40px);
}

.content {
	min-width: 0;
	margin-left: 256px;
	padding: 8px 0 20px;
}

@media (max-width: 700px) {
	.layout {
		min-height: 0;
	}

	.content {
		margin-left: 0;
		padding-top: 0;
	}
}
